<p>
  dashboard works!
</p>

<button (click)="sendNotification()">Send notifications</button>
<button (click)="hideDiv()">Hide / Show Div</button>
<div *ngIf="shouldHideDiv">A div to hide or show with ngIf</div>

<app-card>
  <p>Example 1 Card</p>
</app-card>

<app-card>
  <div button-section>
    <button>Click Me!</button>
  </div>
  <p class="card-text">Example 1 Card</p>
</app-card>

<!--p *ngFor="let post of posts">{{post | json}}</p-->
<p *ngFor="let post of postsSubs | async">{{post.title}}</p>